$header-text-color: #2C3E50;
$paragraph-text-color: #A1B1BC;
$box-border-color: #E2E6E7;
$color-1: #FFC12D;
$color-2: #C89210;
$color-3: #A47503;
$color-4: #97E411;
$color-5: #7BC200;
$color-6: #558502;
$color-7: #FD7761;
$color-8: #F55C43;
$color-9: #D52E13;
$color-10: #6FD9FC;
$color-11: #47B4F6;
$color-12: #0787D4;
$color-13: #AACDF6;
$color-14: #8781BD;
$color-15: #5B568E;
$color-16: #B18009;
$color-17: #5B568E;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
    height: 510px;
    margin: auto;
}

.box {
    display: flex;
    position: relative;
    padding: 42px 0 42px 49px;
    border: 1px solid $box-border-color;
    border-radius: 10px;

    &::before {
        content: '\f12a';
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-right: 28px;
        border: 7px solid $color-2;
        border-radius: 100%;
        background-color: $color-1;
        color: $color-3;
        font-family: 'fontAwesome', sans-serif;
        font-size: 24px;
    }

    div {
        padding-right: 59px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;

        h3 {
            margin-bottom: 16px;
            color: $header-text-color;
            font-weight: 900;
            letter-spacing: .04px;
            line-height: 8px;
        }

        p {
            color: $paragraph-text-color;
            line-height: 24px;
        }
    }

    a {
        position: absolute;
        top: 16px;
        right: 18px;

        &::before {
            content: '\f00d';
            color: #CFD2D3;
            font-family: 'fontAwesome', sans-serif;
            font-size: 14px;
        }
    }

    &.solid {
        border: none;
        background-color: $color-1;

        p {
            color: $header-text-color;
        }

        a {

            &::before {
                color: $color-16;
            }
        }
    }

    &.check {

        &::before {
            content: '\f00c';
            border: 7px solid $color-5;
            background-color: $color-4;
            color: $color-6;
        }

        &.solid {
            background-color: $color-4;

            p {
                color: $header-text-color;
            }

            a {

                &::before {
                    color: $color-6;
                }
            }
        }
    }

    &.error {

        &::before {
            content: '\f00d';
            border: 7px solid $color-8;
            background-color: $color-7;
            color: $color-9;
        }

        &.solid {
            background-color: $color-7;

            p {
                color: $header-text-color;
            }

            a {

                &::before {
                    color: $color-9;
                }
            }
        }
    }

    &.flash {

        &::before {
            content: '\f0e7';
            border: 7px solid $color-11;
            background-color: $color-10;
            color: $color-12;
        }

        &.solid {
            background-color: $color-10;

            a {

                &::before {
                    color: $color-12;
                }
            }
        }
    }

    &.info {

        &::before {
            content: '\f129';
            border: 7px solid $color-14;
            background-color: $color-13;
            color: $color-15;
        }

        &.solid {
            background-color: $color-13;

            p {
                color: $header-text-color;
            }

            a {

                &::before {
                    color: $color-17;
                }
            }
        }
    }
}
