$header-text-color: #2C3E50;
$paragraph-text-color: #A1B1BC;
$box-border-color: #E2E6E7;
$color-1: #FFC12D;
$color-2: #F9B718;
$color-3: #A47503;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 570px;
    height: 150px;
    margin: auto;
}

.box {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid $box-border-color;
    border-radius: 10px;
    padding: 42px 0 0 49px;
    position: relative;

    &::before{
        content: "\f12a";
        font-family: "fontAwesome";
        font-size: 24px;
        background-color: $color-1;
        border: 7px solid $color-2;
        color: $color-3;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        height: 50px;
        width: 50px;
        margin-right: 28px;
    }
    div {
        font-family: "Lato";
        font-size: 14px;
        padding-right: 59px;
        
        h3 {
            line-height: 26px;
            font-weight: 900;
            color: $header-text-color;
            letter-spacing: 0.04px;
        }
        p {
            line-height: 24px;
            color: $paragraph-text-color;
            width: 100%;
        }
    }
    a{
        &::before{
            content: "\f00d";
            font-family: "fontAwesome";
            position: absolute;
            top: 16px;
            right: 18px;
            font-size: 14px;
            color: #CFD2D3;
        }
    }
}